.form_container {
  width: 50%;
  height: auto;
  border: 1px solid rgba(122, 119, 119, 0.479);
  padding: 2em;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.form_name_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}
.form_option_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_check_container {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
}
.form_forgot-pass_container {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
}
.check_label {
  margin-left: 1ex;
}
.form_btn {
  color: white;
  background-color: #2aa7df;
  border-color: #2aa7df;
  width: 100%;
  font-weight: 500;
}
.register-link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.register-link a {
  margin-left: 1ex;
}
.sign-label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.sing-variants {
  margin: auto;
  display: flex;
  color: #2aa7df;
  justify-content: space-around;
  width: 30%;
}
@media (max-height: 1023px) and (max-width: 812px) and (min-height: 320px) {
  .form_container {
    width: 100vw;
    height: 100vh;
    border: none;
    margin-top: 40vh;
    padding: 1vh;
  }
  .form_name_container {
    margin-top: 0;
  }
}
